<!DOCTYPE HTML>
<html>
<head>
<meta charset = "utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<title></title>
<link rel="stylesheet" href="style/main.css">
<script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>


</head>
<body>
<!--头-->
<header class="clearfix">
	<div class="back"><span class="icon_arrow"></span><span>搜索</span></div>
	<div class="title">奥特莱斯大盘点</div>
	<div class="clearfix"><a href="#" class="icon_edit"></a></div>
</header>
<!--内容-->
<section>
	<div class="index_store">
		<img src="images/pic/goods.jpg" />
		<p>虽然都是奥特莱斯，但是奥特莱斯和奥特莱斯可是完全不同的。欧洲最大的几家不但有一线甚至超一线品牌进入，而且也会发售一些稀有的限量款。在国外购物，如果不懂奥斯，那实在称不上行家。</p>
		<table width="100%" class="title">
			<tr>
				<td align="right" width="30%"><img src="images/pic/left_cut.png" class="left_cut"/></td>
				<td align="center" width="40%">woodbury 奥莱</td>
				<td align="left" width="30%"><img src="images/pic/right_cut.png" class="right_cut"/></td>
			</tr>
		</table>
		<div class="index_store_data">
			<img src="images/pic/goods.jpg" />
			<p>去年夏季开业的赛特奥莱,以其欧美小镇建筑风格，诠释了一种新的购物方式。</p>
   	 		<p>第一家纯欧美式OUTLET，独栋建筑、两层TOWNHOUSE，建筑物之间连廊、中央广场等，将近200家店铺置身于此。这里国际精品有阿玛尼、Boss、登喜路、博佰利、CK、Coach、纪梵希、连卡佛、Maxmara、宝姿、都彭、Zegna。还有绅士男装、家居内衣、羊绒皮草、时尚女装、运动休闲、运动器材和皮鞋皮具与配饰。</p>
			<p>累了、饿了，可到”食尚天地“内的美食街，这里有十几家食档；还有比利时窝夫、意大利冰激凌、热狗店、星巴克、赛百味等。奥莱内的电瓶车是免费的，随上随下，非常便利。</p>
			<div class="go"><p><span class="icon_go"></span><span>去woodbury 奥莱逛逛</span></p></div>
		</div>
	</div>
</section>
<section>
	<div class="discuss">
		<p class="title">评论</p>
		<ul class="discuss_list">
			<li class="clearfix">
				<img src="images/pic/face.png" class="face" />
				<div class="data">
					<p class="clearfix"><a class="reply" href="#">回复</a><span class="name">红豆包女王</span>
					<time>17分钟前</time></p>
					<p class="reply_text"><span class="call_friend">@我的id叫小花</span>牛奶花果然比纯黑皮装女王色
更强更强悍呀！</p>
				</div>
			</li>
			<li class="clearfix">
				<img src="images/pic/face.png" class="face" />
				<div class="data">
					<p class="clearfix"><a class="reply" href="#">回复</a><span class="name">红豆包女王</span>
					<time>17分钟前</time></p>
					<p class="reply_text"><span class="call_friend">@我的id叫小花</span>牛奶花果然比纯黑皮装女王色
更强更强悍呀！</p>
				</div>
			</li>
		</ul>
	</div>
</section>
</body>
</html>
