<!DOCTYPE HTML>
<html>
<head>
<meta charset = "utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<title></title>
<link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>


</head>
<body>
<!--头-->
<header class="clearfix">
	<div class="back"><span class="icon_arrow"></span><span>搜索</span></div>
	<div class="title">奥特莱斯大盘点</div>
	<div class="clearfix"><a href="#" class="icon_edit"></a></div>
</header>
<!--内容-->
<section>
	<div class="index_store">
		<img src="{{ util.url_for_thumb(article.caption.path, 618) }}" />
    <p></p>
    {% set title_no = 0 %}
    {% for entry in article.formated_content %}
    {% if entry['class'] == 'text' %}<p>{{ entry['content'] }}</p>{% endif %}
    {% if entry['class'] == 'title' %}
    {% if title_no > 0 %}</div>{% endif %}
    {% set title_no = title_no + 1 %}
		<table width="100%" class="title">
			<tr>
				<td align="right" width="30%"><img src="{{ url_for('static', filename='images/icon/left_cut.png') }}" class="left_cut"/></td>
        <td align="center" width="40%">{{ entry['content'] }}</td>
				<td align="left" width="30%"><img src="{{ url_for('static', filename='images/icon/right_cut.png') }}" class="right_cut"/></td>
			</tr>
		</table>
		<div class="index_store_data">
    {% endif %}
      {% if entry['class'] == 'image' %}<img src="{{ '' if not entry['content'] else util.url_for_thumb(entry['content'].path, 618) }}" />{# ToDo: 这里图片四个角与界面的匹配存在问题。#}{% endif %}
      {% if entry['class'] == 'site' %}<div class="go"><p><span class="icon_go"></span><span>去 {{ '' if not entry['content'] else entry['content'].name }} 逛逛</span></p></div>{% endif %}
    {% endfor %}
		</div>
	</div>
</section>
<section>
	<div class="discuss">
		<p class="title">评论</p>
		<ul class="discuss_list">
      {% for comment in comments[:10] %}
			<li class="clearfix">
				<img src="{{ '' if not comment.valid_user else util.url_for_thumb(comment.valid_user.icon_image.path, 86) }}" class="face" />
				<div class="data">
					<p class="clearfix"><a class="reply" href="#">回复</a><span class="name">{{ '' if not comment.valid_user else comment.valid_user.name}}</span>
					<time>{{ comment.publish_time }}</time></p>
					<p class="reply_text">{% if comment.valid_at_users %}<span class="call_friend">{% for user in comment.valid_at_users %}@{{ user.name }} {% endfor %}</span>{% endif %}{{ comment.content }}</p>
				</div>
			</li>
      {% endfor %}
		</ul>
	</div>
</section>
</body>
</html>
