<!DOCTYPE HTML>
<html>
<head>
<meta charset = "utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<title></title>
<link rel="stylesheet" href="style/main.css">
<script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>


</head>
<body>
<!--头-->
<header class="clearfix">
	<div class="back"><span class="icon_arrow"></span><span>搜索</span></div>
	<div class="title">晒单评论</div>
	<div class="clearfix"><a href="#" class="icon_edit"></a></div>
</header>
<!--内容-->
<section>
	<div class="profile">
		<!--个人资料-->
		<div class="profile_data clearfix">
			<img src="images/pic/face.png" class="face"/>
			<div class="data">
				<p><span class="name">我的ID叫小花</span>
				<time>昨天晚上10点35分</time></p>
				<div class="function clearfix">
					<a href="#" class="btn_attention"><span class="icon_add"></span><span>关注</span></a>
					<a href="#" class="info">关注:15</a>
					<a href="#" class="info">粉丝:300</a>
				</div>
			</div>
		</div>
	    <!--说说-->
	    <div class="new_msg">
	    	<p class="call_friend">@旺财不是旺才 @北京小美</p>
	    	<div class="text">
	    		<p>包包还是二马仕最高！纯牛皮，奶牛花，适合我的风格，比在国内买....</p>
	    	</div>	    	
	    	<div class="shopshow">
	    		<img src="images/pic/goods.jpg" width="100%"/>
	    	</div>
	    	<p class="important_word">关键词:<span class="bg_green">限量版本</span><span class="bg_pink">限量版本</span><span class="bg_purple">限量版本</span></p>
	    	<div class="function clearfix">
	    		<a class="btn_share clearfix" href="#"><span class="icon_share"></span><span>分享</span></a>
	    		<div class="clearfix">
	    			<p class="total">总价：3000美元</p>
	    			<p class="function_item"><span class="icon_heart"></span><span class="number">7</span></p><p class="function_item"><span class="icon_msg"></span><span class="number">3</span></p>
	    		</div>
	    	</div>
	    </div>
	</div>
</section>
<section>
	<div class="store clearfix">
		<img src="images/pic/pic_store.png" class="pic_store"/>
		<div class="data">
			<p class="name clearfix"><span class="icon_s">S</span>二玛仕第五大道店</p>
			<div class="info clearfix"><p class="msg"><span class="icon_msg_gray"></span><span class="number">32</span></p><p class="star clearfix"><span class="icon_star"></span><span class="icon_star"></span><span class="icon_star"></span><span class="icon_star"></span><span class="icon_star"></span></p></div>
		    <div class="info_1">
		    	<span class="bg_green">非常豪华</span>
		    	<p class="address"><span class="icon_address"></span><span>纽约,第五大道,222号</span></p>
		    </div>
		</div>
	</div>
</section>
<section>
	<div class="discuss">
		<p class="title">评论</p>
		<ul class="discuss_list">
			<li class="clearfix">
				<img src="images/pic/face.png" class="face" />
				<div class="data">
					<p class="clearfix"><a class="reply" href="#">回复</a><span class="name">红豆包女王</span>
					<time>17分钟前</time></p>
					<p class="reply_text"><span class="call_friend">@我的id叫小花</span>牛奶花果然比纯黑皮装女王色
更强更强悍呀！</p>
				</div>
			</li>
			<li class="clearfix">
				<img src="images/pic/face.png" class="face" />
				<div class="data">
					<p class="clearfix"><a class="reply" href="#">回复</a><span class="name">红豆包女王</span>
					<time>17分钟前</time></p>
					<p class="reply_text"><span class="call_friend">@我的id叫小花</span>牛奶花果然比纯黑皮装女王色
更强更强悍呀！</p>
				</div>
			</li>
		</ul>
	</div>
</section>
</body>
</html>
