<!DOCTYPE HTML>
<html>
<head>
<meta charset = "utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<title></title>
<link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>
<body>
<!--头-->
<header class="clearfix">
	<div class="back"><span class="icon_arrow"></span><span>搜索</span></div>
	<div class="title">晒单评论</div>
	<div class="clearfix"><a href="#" class="icon_edit"></a></div>
</header>
<!--内容-->
<section>
	<div class="profile">
		<!--个人资料-->
		<div class="profile_data clearfix">
			<img src="{{ util.url_for_thumb(review.valid_user.icon_image.path, 86) }}" class="face"/>
			<div class="data">
        <p><span class="name">{{ review.valid_user.name }}</span>
        <time>{{ review.publish_time }}</time></p>
				<div class="function clearfix">
					<a href="#" class="btn_attention"><span class="icon_add"></span><span>关注</span></a>
          <a href="#" class="info">关注:{{ review.valid_user.follow_num }}</a>
          <a href="#" class="info">粉丝:{{ review.valid_user.fans_num }}</a>
				</div>
			</div>
		</div>
	    <!--说说-->
	    <div class="new_msg">
        {% if review.valid_at_users %}<p class="call_friend">{% for user in review.valid_at_users %}@{{ user.name }} {% endfor %}</p>{% endif %}
	    	<div class="text">
          {% for paragraph in review.content.splitlines() %}<p>{{ paragraph }}</p>{% endfor %}
	    	</div>	    	
	    	<div class="shopshow">
          {% for image in review.valid_images %}<img src="{{ util.url_for_thumb(image.path, 618) }}" width="100%"/>{# ToDo: 多张图片之间应该留一点空隙较好。 #}{% endfor %}
	    	</div>
        <p class="important_word">关键词:{% for i in range(review.formated_keywords.__len__()) %}<span class="{{ ('bg_green', 'bg_blue', 'bg_purple', 'bg_pink')[i % 4] }}">{{ review.formated_keywords[i] }}</span>{% endfor %}</p>
	    	<div class="function clearfix">
	    		<a class="btn_share clearfix" href="#"><span class="icon_share"></span><span>分享</span></a>
	    		<div class="clearfix">
            <p class="total">总价：{{ review.total }}{{ review.currency }}</p>
            <p class="function_item"><span class="icon_heart"></span><span class="number">{{ review.like_num }}</span></p><p class="function_item"><span class="icon_msg"></span><span class="number">{{ review.comment_num }}</span></p>
	    		</div>
	    	</div>
	    </div>
	</div>
</section>
{% if review.valid_site %}
<section>
	<div class="store clearfix">
		<img src="{{ util.url_for_thumb(review.valid_site.logo.path, 136) }}" class="pic_store"/>
		<div class="data">
      <p class="name clearfix"><span class="icon_s">{{ review.valid_site.level }}</span>{{ review.valid_site.name }}</p>
      <div class="info clearfix"><p class="msg"><span class="icon_msg_gray"></span><span class="number">{{ review.valid_site.review_num }}</span></p><p class="star clearfix">{% for i in range(review.valid_site.stars.__int__()) %}<span class="icon_star"></span>{% endfor %}
                {# ToDo: 这里没有对半颗星的显示进行处理。 #}</p></div>
		    <div class="info_1">
          <span class="bg_green">{{ '' if not review.valid_site.formated_keywords else review.valid_site.formated_keywords[0] }}</span>
          <p class="address"><span class="icon_address"></span><span>{{ review.valid_site.address[:25] }}</span></p>
		    </div>
		</div>
	</div>
</section>
{% endif %}
<section>
	<div class="discuss">
		<p class="title">评论</p>
		<ul class="discuss_list">
      {% for comment in comments[:10] %}
			<li class="clearfix">
				<img src="{{ '' if not comment.valid_user else util.url_for_thumb(comment.valid_user.icon_image.path, 86) }}" class="face" />
				<div class="data">
          <p class="clearfix"><a class="reply" href="#">回复</a><span class="name">{{ '' if not comment.valid_user else comment.valid_user.name}}</span>
          <time>{{ comment.publish_time }}</time></p>
          <p class="reply_text">{% if comment.valid_at_users %}<span class="call_friend">{% for user in comment.valid_at_users %}@{{ user.name }} {% endfor %}</span>{% endif %}{{ comment.content }}
</p>
				</div>
			</li>
      {% endfor %}
		</ul>
	</div>
</section>
</body>
</html>
